body {
  background: #333;
}

.emoji-wrapper {
  z-index: 1000;
  position: fixed;
  right: 0px;
  bottom: 0px;
}


.emoji-btn {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 4.4vw;
  width: 4.4vw;
  background: rgba(200,200,200,0.5);
  border-radius: 100000px;
  z-index: inherit;
}

.emoji-btn:hover {
    background: rgba(200,200,200,0.7);
}

.emoji-list {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  background: #eee9;
  border-radius: 5px;
  overflow-y: auto;
  z-index: inherit;
}

.emoji-list::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.emoji-list::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 6px #fff;
}

.emoji-list::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.emoji-list:hover::-webkit-scrollbar-thumb {
  background: #ccc;
}

.emoji-list img {
  padding: 5px;
  display: block;
  width: 50%;
  height: 80%;
  object-fit: contain;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
  -webkit-user-drag: none;
  z-index: inherit;
}

.emoji-list img:hover {
  background: #fffb;
}

.bcm-img {
  padding: 5px;
  width: 13%;
  object-fit: contain;
  box-sizing: border-box;
  cursor: pointer;
  vertical-align: top;
}